body{
  margin: 0;
}
.myflex1{
  display: flex;
  align-items: center;
}
.myflex2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myflex3{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.myflex4{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mygrid2{
  display: grid;
  grid-template-columns: repeat(2,50%);
}
.mygrid3{
  display: grid;
  grid-template-columns: repeat(3,33.3%);
}
.mygrid4{
  display: grid;
  grid-template-columns: repeat(4,25%);
}
.icon {
    width: 1.5em; 
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* 按钮的样式 */
.f-button button{
  margin: auto;
  width: 100%;
  padding: 9px 16px;
  background-color: skyblue;
  border: 0;
  color: #ffffff;
  font-size: 16px;
}
.f-button button:focus{
  border: none !important;
  outline: none !important;
}
.f-button-small{
  button{
    margin: auto;
    width: 100%;
    padding: 3px 10px;
    background-color: skyblue;
    border: 0;
    color: #ffffff;
    font-size: 12px;
  }
  button:focus{
    border: none !important;
    outline: none !important;
  }
}
/* 顶部nav */
.f-top{
  height: 45px;
  padding: 0 20px;
  line-height: 45px;
  .center{
    font-size: 22px;
    font-weight: bold;
  }
}
/* 底部bar */
.f-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 5px #f7f7f7;
}
/* 按钮 */
.f-input {
  padding: 10px;
  border-radius: 3px;
  .icon-item{
    flex: 3;
    text-align: center;
  }
  .input-item{
    flex: 20;
    input{
      border: 0;
      width: 98%;
      font-size: 16px;
      line-height: 1.8;
      border-radius: 5px;
      padding: 0 1%;
    }
    input:focus{
      border: none !important;
      outline: none !important;
      background-color: #fff !important;
    }
  }
}
input:-internal-autofill-selected {
  background-color: #e6e6e6 !important;
}
/* 小按钮 */
.f-input-small {
  padding: 5px;
  border-radius: 3px;
  .icon-item{
    flex: 3;
    text-align: center;
  }
  .input-item{
    flex: 20;
    input{
      border: 0;
      width: 98%;
      font-size: 16px;
      line-height: 1.5;
      border-radius: 5px;
      padding: 0 1%;
    }
    input:focus{
      border: none !important;
      outline: none !important;
      background-color: #fff !important;
    }
  }
}

.swipe-tab{
  overflow: hidden;
  display: flex;
  white-space:nowrap;
  overflow-x: scroll;
  .item{
    font-size: 20px;
    margin: 5px;
    padding: 5px 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    text-align: center;
  }
  .select{
    font-weight: bold;
    color: skyblue;
    border-bottom: 3px solid skyblue;
  }
}

/* 过场切换动画 */
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 100%;
}
.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}