body{
  margin: 0;
}
.myflex1{
  display: flex;
  align-items: center;
}
.myflex2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myflex3{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.myflex4{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mygrid2{
  display: grid;
  grid-template-columns: repeat(2,50%);
}
.mygrid3{
  display: grid;
  grid-template-columns: repeat(3,33.3%);
}
.mygrid4{
  display: grid;
  grid-template-columns: repeat(4,25%);
}
.icon {
    width: 1.5em; 
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* 按钮的样式 */
.f-button button{
  margin: auto;
  width: 100%;
  padding: 9px 16px;
  background-color: #1296db;
  border: 0;
  color: #ffffff;
  font-size: 16px;
}
.f-button button:focus{
  border: none !important;
  outline: none !important;
}
.f-button-small{
  button{
    margin: auto;
    width: 100%;
    padding: 3px 10px;
    background-color: #1296db;
    border: 0;
    color: #ffffff;
    font-size: 12px;
  }
  button:focus{
    border: none !important;
    outline: none !important;
  }
}
/* 顶部nav */
.f-top{
  height: 45px;
  padding: 0 20px;
  line-height: 45px;
  .center{
    font-size: 22px;
    font-weight: bold;
  }
}
/* 底部bar */
.f-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 5px #f7f7f7;
  div{
    line-height: 1.2;
    .name{
    font-size: 14px;
    }
  }
}
/* 按钮 */
.f-input {
  padding: 10px;
  border-radius: 3px;
  .icon-item{
    flex: 3;
    text-align: center;
  }
  .input-item{
    flex: 20;
    input{
      border: 0;
      width: 98%;
      font-size: 16px;
      line-height: 1.8;
      border-radius: 5px;
      padding: 0 1%;
    }
    input:focus{
      border: none !important;
      outline: none !important;
      background-color: #fff !important;
    }
  }
}
input:-internal-autofill-selected {
  background-color: #e6e6e6 !important;
}
/* 小按钮 */
.f-input-small {
  padding: 5px;
  border-radius: 3px;
  .icon-item{
    flex: 3;
    text-align: center;
  }
  .input-item{
    flex: 20;
    input{
      border: 0;
      width: 98%;
      font-size: 16px;
      line-height: 1.5;
      border-radius: 5px;
      padding: 0 1%;
    }
    input:focus{
      border: none !important;
      outline: none !important;
      background-color: #fff !important;
    }
  }
}

.swipe-tab{
  overflow: hidden;
  display: flex;
  white-space:nowrap;
  overflow-x: scroll;
  .item{
    font-size: 20px;
    margin: 5px;
    padding: 5px 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    text-align: center;
  }
  .select{
    font-weight: bold;
    color: #1296db;
    border-bottom: 3px solid #1296db;
  }
}

/* 过场切换动画 */
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 100%;
}
.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
#app {
  a.link {
      position: absolute;
      z-index: 11000;
      top: 60px;
      right: 0px;
      text-decoration: none;
      color: #1ea7fe!important;
  }
.overlay-loader {
display: block;
margin: auto;
width: 35px;
height: 35px;
position: relative;
top: 0;
left: 0;
right: 0;
bottom: 0;
}
.loader {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 35px;
height: 35px;
animation-name: rotateAnim;
  -o-animation-name: rotateAnim;
  -ms-animation-name: rotateAnim;
  -webkit-animation-name: rotateAnim;
  -moz-animation-name: rotateAnim;
animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.loader div {
width: 3px;
height: 3px;
border-radius: 50%;
border: 0px solid #1ea7fe;
position: absolute;
top: 1px;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}
.loader div:nth-child(odd) {
border-top: none;
border-left: none;
}
.loader div:nth-child(even) {
border-bottom: none;
border-right: none;
}
.loader div:nth-child(2) {
border-width: 1px;
left: 0px;
top: -1px;
width: 4px;
height: 4px;
}
.loader div:nth-child(3) {
border-width: 1px;
left: -0px;
top: 1px;
width: 6px;
height: 6px;
}
.loader div:nth-child(4) {
border-width: 1px;
left: -0px;
top: -1px;
width: 8px;
height: 8px;
}
.loader div:nth-child(5) {
border-width: 1px;
left: -0px;
top: 1px;
width: 11px;
height: 11px;
}
.loader div:nth-child(6) {
border-width: 1px;
left: 0px;
top: -1px;
width: 14px;
height: 14px;
}
.loader div:nth-child(7) {
border-width: 1px;
left: 0px;
top: 2px;
width: 17px;
height: 17px;
}


@keyframes rotateAnim {
from {
  transform: rotate(360deg);
}
to {
  transform: rotate(0deg);
}
}

@-o-keyframes rotateAnim {
from {
  -o-transform: rotate(360deg);
}
to {
  -o-transform: rotate(0deg);
}
}

@-ms-keyframes rotateAnim {
from {
  -ms-transform: rotate(360deg);
}
to {
  -ms-transform: rotate(0deg);
}
}

@-webkit-keyframes rotateAnim {
from {
  -webkit-transform: rotate(360deg);
}
to {
  -webkit-transform: rotate(0deg);
}
}

@-moz-keyframes rotateAnim {
from {
  -moz-transform: rotate(360deg);
}
to {
  -moz-transform: rotate(0deg);
}
}
.cssload-dots {
width: 0;
height: 0;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
margin: auto;
outline: 1px solid red;
filter: url(#goo);
  -o-filter: url(#goo);
  -ms-filter: url(#goo);
  -webkit-filter: url(#goo);
  -moz-filter: url(#goo);
}

.cssload-dot {
width: 0;
height: 0;
position: absolute;
left: 0;
top: 0;
}
.cssload-dot:before {
content: "";
width: 34px;
height: 34px;
border-radius: 49px;
background: rgb(251,211,1);
position: absolute;
left: 50%;
transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
margin-left: -17.5px;
margin-top: -17.5px;
}



.cssload-dot:nth-child(5):before {
z-index: 100;
width: 44.5px;
height: 44.5px;
margin-left: -21.75px;
margin-top: -21.75px;
animation: cssload-dot-colors 4.6s ease infinite;
  -o-animation: cssload-dot-colors 4.6s ease infinite;
  -ms-animation: cssload-dot-colors 4.6s ease infinite;
  -webkit-animation: cssload-dot-colors 4.6s ease infinite;
  -moz-animation: cssload-dot-colors 4.6s ease infinite;
}


.cssload-dot:nth-child(1) {
animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
background-color: rgb(255,50,112);
animation: cssload-dot-move 4.6s 0s ease infinite;
  -o-animation: cssload-dot-move 4.6s 0s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 0s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}
.cssload-dot:nth-child(2):before {
background-color: rgb(32,139,241);
animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}
.cssload-dot:nth-child(3):before {
background-color: rgb(175,225,2);
animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}
.cssload-dot:nth-child(4):before {
background-color: rgb(251,211,1);
animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
0% {
  transform: translateY(0);
}
18%, 22% {
  transform: translateY(-68px);
}
40%, 100% {
  transform: translateY(0);
}
}

@-o-keyframes cssload-dot-move {
0% {
  -o-transform: translateY(0);
}
18%, 22% {
  -o-transform: translateY(-68px);
}
40%, 100% {
  -o-transform: translateY(0);
}
}

@-ms-keyframes cssload-dot-move {
0% {
  -ms-transform: translateY(0);
}
18%, 22% {
  -ms-transform: translateY(-68px);
}
40%, 100% {
  -ms-transform: translateY(0);
}
}

@-webkit-keyframes cssload-dot-move {
0% {
  -webkit-transform: translateY(0);
}
18%, 22% {
  -webkit-transform: translateY(-68px);
}
40%, 100% {
  -webkit-transform: translateY(0);
}
}

@-moz-keyframes cssload-dot-move {
0% {
  -moz-transform: translateY(0);
}
18%, 22% {
  -moz-transform: translateY(-68px);
}
40%, 100% {
  -moz-transform: translateY(0);
}
}

@keyframes cssload-dot-colors {
0% {
  background-color: rgb(251,211,1);
}
25% {
  background-color: rgb(255,50,112);
}
50% {
  background-color: rgb(32,139,241);
}
75% {
  background-color: rgb(175,225,2);
}
100% {
  background-color: rgb(251,211,1);
}
}

@-o-keyframes cssload-dot-colors {
0% {
  background-color: rgb(251,211,1);
}
25% {
  background-color: rgb(255,50,112);
}
50% {
  background-color: rgb(32,139,241);
}
75% {
  background-color: rgb(175,225,2);
}
100% {
  background-color: rgb(251,211,1);
}
}

@-ms-keyframes cssload-dot-colors {
0% {
  background-color: rgb(251,211,1);
}
25% {
  background-color: rgb(255,50,112);
}
50% {
  background-color: rgb(32,139,241);
}
75% {
  background-color: rgb(175,225,2);
}
100% {
  background-color: rgb(251,211,1);
}
}

@-webkit-keyframes cssload-dot-colors {
0% {
  background-color: rgb(251,211,1);
}
25% {
  background-color: rgb(255,50,112);
}
50% {
  background-color: rgb(32,139,241);
}
75% {
  background-color: rgb(175,225,2);
}
100% {
  background-color: rgb(251,211,1);
}
}

@-moz-keyframes cssload-dot-colors {
0% {
  background-color: rgb(251,211,1);
}
25% {
  background-color: rgb(255,50,112);
}
50% {
  background-color: rgb(32,139,241);
}
75% {
  background-color: rgb(175,225,2);
}
100% {
  background-color: rgb(251,211,1);
}
}

@keyframes cssload-dot-rotate-1 {
0% {
  transform: rotate(-105deg);
}
100% {
  transform: rotate(270deg);
}
}

@-o-keyframes cssload-dot-rotate-1 {
0% {
  -o-transform: rotate(-105deg);
}
100% {
  -o-transform: rotate(270deg);
}
}

@-ms-keyframes cssload-dot-rotate-1 {
0% {
  -ms-transform: rotate(-105deg);
}
100% {
  -ms-transform: rotate(270deg);
}
}

@-webkit-keyframes cssload-dot-rotate-1 {
0% {
  -webkit-transform: rotate(-105deg);
}
100% {
  -webkit-transform: rotate(270deg);
}
}

@-moz-keyframes cssload-dot-rotate-1 {
0% {
  -moz-transform: rotate(-105deg);
}
100% {
  -moz-transform: rotate(270deg);
}
}

@keyframes cssload-dot-rotate-2 {
0% {
  transform: rotate(165deg);
}
100% {
  transform: rotate(540deg);
}
}

@-o-keyframes cssload-dot-rotate-2 {
0% {
  -o-transform: rotate(165deg);
}
100% {
  -o-transform: rotate(540deg);
}
}

@-ms-keyframes cssload-dot-rotate-2 {
0% {
  -ms-transform: rotate(165deg);
}
100% {
  -ms-transform: rotate(540deg);
}
}

@-webkit-keyframes cssload-dot-rotate-2 {
0% {
  -webkit-transform: rotate(165deg);
}
100% {
  -webkit-transform: rotate(540deg);
}
}

@-moz-keyframes cssload-dot-rotate-2 {
0% {
  -moz-transform: rotate(165deg);
}
100% {
  -moz-transform: rotate(540deg);
}
}

@keyframes cssload-dot-rotate-3 {
0% {
  transform: rotate(435deg);
}
100% {
  transform: rotate(810deg);
}
}

@-o-keyframes cssload-dot-rotate-3 {
0% {
  -o-transform: rotate(435deg);
}
100% {
  -o-transform: rotate(810deg);
}
}

@-ms-keyframes cssload-dot-rotate-3 {
0% {
  -ms-transform: rotate(435deg);
}
100% {
  -ms-transform: rotate(810deg);
}
}

@-webkit-keyframes cssload-dot-rotate-3 {
0% {
  -webkit-transform: rotate(435deg);
}
100% {
  -webkit-transform: rotate(810deg);
}
}

@-moz-keyframes cssload-dot-rotate-3 {
0% {
  -moz-transform: rotate(435deg);
}
100% {
  -moz-transform: rotate(810deg);
}
}

@keyframes cssload-dot-rotate-4 {
0% {
  transform: rotate(705deg);
}
100% {
  transform: rotate(1080deg);
}
}

@-o-keyframes cssload-dot-rotate-4 {
0% {
  -o-transform: rotate(705deg);
}
100% {
  -o-transform: rotate(1080deg);
}
}

@-ms-keyframes cssload-dot-rotate-4 {
0% {
  -ms-transform: rotate(705deg);
}
100% {
  -ms-transform: rotate(1080deg);
}
}

@-webkit-keyframes cssload-dot-rotate-4 {
0% {
  -webkit-transform: rotate(705deg);
}
100% {
  -webkit-transform: rotate(1080deg);
}
}

@-moz-keyframes cssload-dot-rotate-4 {
0% {
  -moz-transform: rotate(705deg);
}
100% {
  -moz-transform: rotate(1080deg);
}
}
}